# torch>=2.0.0
# lightning @ git+https://github.com/Lightning-AI/lightning@master

## for paperspace
pytorch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
pytorch-cuda==11.6

# torch
lightning
sentencepiece
tqdm  # convert_checkpoint.py
numpy  # train.py dataset memmap
jsonargparse[signatures]  # generate.py, convert_checkpoint.py CLI
bitsandbytes  # quantization.py
datasets  # evaluate.py
zstandard  # prepare_redpajama.py
tokenizers
deepspeed
colabtools